.odd{
    background-color: rgb(201, 98, 98);
    font-family: Verdana, DejaVu Sans, sans-serif
}
.font-size{
    font-size: 24px;
}
#second{
    color: rgb(0,0,255);
    font-size: 36px;
}
#fourth{
    background-color: hsl(123, 58%, 53%);
    font-weight: bold;
}